#FatWire Corporation Content Server 7.5.0 Copyright (c) 2008 FatWire Corporation All Rights Reserved.  Content Server 7.5.0 Patch Build Date: Mar 25 2009 at 21:01:00 ContentServer-bld- 146 Revision:121907 
#Sat Jul 04 11:04:24 CEST 2009
cs.manageUserSystem=FutureTense
soap.likeConstraint=com.openmarket.gator.objects.LikeConstraint
soap.nestedConstraint=com.openmarket.gator.objects.NestedConstraint
searcheng.enginedebug=no
cs.jsppath=/jsp/
cs.charset=_charset_
cc.SystemUsersCSz=100
cc.StatusCodeCSz=10
cs.manageUser=
secure.CatalogManager=false
cs.manageACL=
cs.jspclear=false
cc.FiltersKey=name
cs.mirrorpassword=
ntlogin.DefaultReaderID=DefaultReader
av.defaultindex=
verity.organization=
cc.ElementCatalogTimeout=60
ft.debugport=1025
cs.searchengine=_NONE_
ft.usedisksync=/opt/fatwire/shared/clustersync
verity.syncindexing=yes
cs.dbtype=HSQLDB
cc.MimeTypeKey=extension
cs.httpvariables=false
cc.CategoryCSz=50
cs.xmlfolder=/opt/fatwire/ContentServer/xmltemp
ft.version=7.5.0
verity.knowledgebasepath=
searcheng.usedebugse=no
cs.alwaysusedisk=no
soap.standardConstraint=com.openmarket.gator.objects.StandardConstraint
cc.cacheResults=500
cc.datepicture={ts '$date'}
cc.stringpicture='$string'
cc.integer=INTEGER
hidden.encrypted=true
cs.mirrorproxyserverport=80
soap.listRowsType=com.openmarket.basic.objects.ListRowsType
cs.emailauthenticator=com.openmarket.framework.mail.ICSAuthenticator
cs.jspresponsewrapper=false
verity.signature=
cs.wrapper=false
soap.stringRowsType=com.openmarket.basic.objects.StringRowsType
cs.emailcontenttype=
cc.AssetTypeCSz=50
soap.URLType=com.openmarket.basic.objects.URLType
bs.bCacheSize=100
cs.urlfilerollup=false
cc.rename=ALTER TABLE %1 RENAME TO %2
cs.satelliteusers=
cc.ComparatorsKey=name
cc.maxvarcharsize=2147483647
cs.nocache=true
cs.selfmodify=password
verity.debug=no
cs.emailhost=
cs.sitepreview=contentmanagement
cs.privuser=
cs.pgCacheTimeout=0
bs.invalidheadernames=Set-Cookie
cs.dbencoding=UTF-8
cc.bigint=BIGINT
av.oemkeytype=delivery
cs.mirrorhttpversion=1.0
cc.ElementCatalogCSz=1000
cc.blob=LONGVARBINARY
verity.templatepath=c\:/FutureTense/VerityK2/DefaultVerityStyles
secure.TreeManager=true
ft.filecheck=no
cs.session=true
cs.emailaccount=
ft.contentserver={29434AD0-8DE2-11D1-8599-0080C7D07E91}
bs.security=false
cc.datetime=TIMESTAMP
searcheng.keeptemps=no
cs.pgcachefolder=/opt/fatwire/ContentServer/cache
cs.privpassword=
cs.emailpassword=
cs.mirrorthreads=2
ss.flushall=false
cs.dbconnpicture=java\:comp/env/$dsn
ft.suppressPasswords=true
security.checkpagelets=true
ntlogin.DefaultReaderACL=Browser
cs.uniqueidpoolsize=100
cs.jsprefresh=
cc.varchar=VARCHAR
cc.cacheResultsAbs=false
ntlogin.Logging=
bs.bCacheTimeout=-1
cs.pgexportfolder=/opt/fatwire/ContentServer/export
ntlogin.LogFile=
cc.SystemInfoTimeout=-1
cc.bigtext=LONGVARCHAR
cs.timeout=9000
searcheng.debug=no
ntlogin.DefaultReaderPW=SomeReader
soap.stringVarsType=com.openmarket.basic.objects.StringVarsType
singlesignon=false
cs.mirrorrowsperpost=6
cc.SystemACLCSz=25
cc.cacheNoSync=false
cs.systemid=CSSystem
cc.queryablemaxvarcharlength=255
cs.disksize=102400
cs.emailcharset=
cc.StatusCodeKey=statuscode
verity.charset=
cs.dsn=csDataSource
cc.null=
cs.batchtimeout=360000
cs.barEqualsSlash=false
cc.contentkey=id
cs.manageproperty=
cs.IItemList=com.openmarket.xcelerate.publish.MyItemList
searcheng.querydebug=no
cs.jspwork=
cs.xmlHeaderAutoStream=false
soap.rangeConstraint=com.openmarket.gator.objects.RangeConstraint
searcheng.regdebug=no
cs.requiresessioncookies=true
cs.recordBlobInventory=true
catalogcentre.version=7.5
cs.mirrorproxyserver=
cc.unique=
ft.suppressPasswordNames=REMOTEPASS;pubtgt\:factors;factors
cs.cookievariables=false
cc.char=CHAR
cs.expireonly=true
cc.SystemInfoCSz=500
ft.treemanager={1903F070-96C9-11D2-B5E2-0010A4FD534E}
cs.dataindatabase=false
soap.binaryRowsType=com.openmarket.basic.objects.BinaryRowsType
cs.manageUserAccess=
cs.freezeCache=no
marketingstudio.version=7.5.0
satellite.blob.cachecontrol.default=
soap.searchstate=com.openmarket.gator.objects.Searchstate
cs.use.short.jsp.names=false
ft.cgipath=/cs/
cc.SystemPageCacheCSz=10000
cc.PreviewgenKey=name
cc.SystemPageCacheTimeout=1440
verity.path=c\:/FutureTense/VerityK2/common
cs.jsproot=./temp/jsp/
av.cjkquery=no
cc.cacheResultsTimeout=5
searcheng.apidebug=no
ntlogin.DefaultACL=
cs.satellitepassword=
soap.urlRowsType=com.openmarket.basic.objects.UrlRowsType
cc.SystemUsersTimeout=-1
cs.satellitehosts=
cc.SystemACLTimeout=-1
cc.SiteCatalogTimeout=60
ft.approot=
ft.sync=mycluster
cs.HTTP_PROTOCOL=
cs.contenttype=text/html; charset\=UTF-8
cc.ignoreTblCase=yes
cs.emailreturnto=
cc.forcelower=true
cc.smallint=SMALLINT
cs.mirroruser=
cc.primary=PRIMARY KEY
cc.security=false
cc.numeric=NUMERIC
cs.documentation=http\://support.fatwire.com
cs.HTTP_HOST=
cs.manage.expired.blob.inventory=false
av.license=
cc.SiteCatalogCSz=1000
cc.double=FLOAT
soap.iList=com.openmarket.basic.objects.IList
verity.locale=
cs.eventhost=http\://localhost\:8181
verity.defaultindex=
cs.xmlHeader=<?xml version\="1.0" encoding\="UTF-8"?>
verity.defaultparser=
cc.SourceKey=source
cs.PastramiEngine=
ft.catalogmanager={40DD4E30-8DE2-11D1-8599-0080C7D07E91}
secure.DebugServer=true
verity.indexinginterval=10000
soap.richTextConstraint=com.openmarket.gator.objects.RichTextConstraint
